.third-slide.background{
    color: white;
    background: url(../../img/deeper-sea.svg) no-repeat;
    background-position: center center;
    background-size: contain;
}
.tab-container{
    position: relative;
    display: flex;
    height: 100%;
    width: 300%;
    transition: all 0.7s ease-out;
}

.tab-container.top{
    margin-top: -40%;
}
.tab-container.down{
    margin-top: 40%;
}

.tab{
    width: 100%;
    position: relative;
}