.tab_3 .tab_title{
    position: absolute;
    top: 15%;
    left: 100px;
    font-family: 'Gotham Pro Light';
    font-weight: 100;
    font-size: 2em;
}
  
.tab_3 .scheme{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
}

.tab_3 .ice{
    position: absolute;
    filter: opacity(0.6);
}

.tab_3 .ice1{
    left: 20px; 
    top: 113px; 
    width: 4.5%;
    transform: rotate(-50deg);
    filter: opacity(0.4) brightness(110%);
    
}
.tab_3 .ice2{
    left: 160px; 
    bottom: -10px; 
    width: 23%;
    transform: rotate(-65deg);
    filter: opacity(0.6) blur(3px) brightness(110%);
}
.tab_3 .ice3{
    right: -20px; 
    top: 210px; 
    width: 12%;
    transform: rotate(25deg);
}