.second-slide.background{
    color: white;
    background: url(../../img/deep-in-sea.png) no-repeat;
    background-position: center center;
    background-size: contain;
}
  
.second-slide .title {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Gotham Pro Light';
    font-weight: 100;
    font-size: 3em;
    line-height: 1.3em;
    letter-spacing: 0.5px;
    text-align: center;
}


.second-slide .container-for-move{
    position: relative;
    transition: all 1.25s
}

.second-slide .container-for-move.top{
    margin-top: -40%;
}
.second-slide .container-for-move.down{
    margin-top: 40%;
}

.second-slide .ice{
    position: absolute;
}
  
.second-slide .ice1{
    left: 210px; 
    top: 440px; 
    width: 12%;
}
.second-slide .ice2{
    left: 80px; 
    top: 145px; 
    width: 4.5%;
    transform: rotate(-40deg);
    filter: brightness(140%) opacity(0.8);
}
.second-slide .ice3{
    right: 230px; 
    top: 580px; 
    width: 7%;
    filter: blur(4px) brightness(130%);
    transform: rotate(-80deg);
}

.second-slide .ice4{
    right: -70px; 
    top: 50px; 
    width: 22%;
    filter: blur(3px) brightness(130%);
    transform: rotate(-40deg);
}