.first-slide.background{
    color: #0d319c;
    background: url(../../img/iceberg.png) no-repeat;
    background-position: center center;
    background-size: contain;
}
  
.first-slide .title{
    position: absolute;
    top: 130px;
    left: 80px;
    font-family: 'Gotham Pro Regular';
    font-weight: 500;
    font-size: 3em;
    letter-spacing: 0.5px;
}
  
.first-slide .point-titles{
    font-family: 'Lato Regular';
    font-size: 1.25em;
    position: absolute;
}
.first-slide .container-for-move{
    position: relative;
    transition: all 1.25s
}

.first-slide .container-for-move.top{
    margin-top: -40%;
}
.first-slide .container-for-move.down{
    margin-top: 40%;
}