.position-selector{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 2.5%;
    transform: translate(0, -50%);
}

.position-selector .position{
    background-color: white;
    border-radius: 50%;
    width: 0.9em;
    height: 0.9em;
    margin-top: 0.3em;
    transition: all 1s ease;
}

.position-selector .active{
    background-color: #f78b1f;
}