
.tab_1 .tab_title{
    position: absolute;
    top: 15%;
    left: 100px;
    font-family: 'Gotham Pro Light';
    font-weight: 100;
    font-size: 2em;
}
  
.tab_1 .scheme{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 63%;
    transform: translate(-50%, -50%);
}

.tab_1 .ice{
    position: absolute;
    filter: opacity(0.6);
}
  
.tab_1 .ice1{
    left:0px; 
    bottom:20px; 
    width:23%;
    filter: blur(3px);
    transform: rotate(-40deg);
}
.tab_1 .ice2{
    left:630px; 
    top:190px; 
    width:12%;
    transform: rotate(30deg);
}
.tab_1 .ice3{
    right: 80px; 
    top:110px; 
    width:4%;
    filter:opacity(0.6) brightness(120%);
    transform: rotate(-55deg);
}